<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v5.0&appId=369821880405859&autoLogAppEvents=1"></script>
    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
